{"cacheMillis":10000,"hosts":[],"checksum":"","lastRefTime":1770357277965,"clusters":"","name":"user_center.service","groupName":"DEFAULT_GROUP","valid":true,"allIPs":false,"reachProtectionThreshold":false}